<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Dating App</a>
        <!-- Structural directive always begins with an '*' -->
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                </li>
            </ng-container>
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome {{user.username | titlecase}}</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item">Edit Profile</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>

        <!-- #loginForm is the reference variable that allows us to access this form -->
        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()"
            autocomplete="off">
            <!-- Angular uses name property behind the scenes to correctly bind with the inputs and components -->
            <!-- nGmodel provides two way binding -->

            <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text"
                placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="text"
                placeholder="Password">
            <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
    </div>
</nav>